extends base
block content
    form.input-box(method='POST')
        input(type='text' id='school_year' placeholder='Enter year' name='year' required)
        | 
        input(type='text' id='semester' placeholder='Enter semester' name='semester' required)
        | 
        button.search-button(type='submit' value='Submit') Search
    div
        table
            tr
                th Subject
                th Mid term
                th Final
                th Avarage

            each a in grades
                tr
                    td= a.subject_name
                    td= a.midterm
                    td= a.final
                    td= a.avarage
               
                