extends base
block content
    div
        table
            tr
                th Subject
                th Mid term
                th Final
                th Avarage

            each a in grades
                tr
                    td= a.subject_name
                    td= a.midterm
                    td= a.final
                    td= a.avarage
               
                