extends base
block content
    .dashboard.m-3
        .content-intro HOME
        hr
        .content-container
            .notice
                h2 Thông báo
                ul
                    li
                        i.fas.fa-user-graduate
                        a(href='https://www.youtube.com/watch?time_continue=4&v=GzASc5sEKRU')  Hướng dẫn sử dụng Cổng thông tin đào tạo - Đăng ký học
                    li
                        i.fas.fa-user-graduate
                        a(href='https://www.youtube.com/channel/UCGweoAecthttps://www.youtube.com/channel/UCGweoAectHnrvkiQtghsTOg?sub_confirmation=1kiQtghsTOg?sub_confirmation=1')  (Video) Bài giảng môn Tin học cơ sở  | Câu hỏi ôn tập
                    li
                        i.fas.fa-user-graduate
                        a(href='https://www.youtube.com/channel/UCGweoAectHnrvkiQtghsTOg?sub_confirmation=1')  (Video) Hướng dẫn đăng ký học bổng
                    li
                        i.fas.fa-user-graduate
                        a(href='https://www.youtube.com/channel/UCGweoAectHnrvkiQtghsTOg?sub_confirmation=1')  Kỹ năng học tập hiệu quả ở bậc đại học 
            .instruction
                h2 Hướng dẫn sử dụng
                ul
                    li
                        i.fas.fa-user-graduate
                        a(href='https://www.youtube.com/channel/UCGweoAectHnrvkiQtghsTOg?sub_confirmation=1')  Hướng dẫn lấy lại mật khẩu
                    li
                        i.fas.fa-user-graduate
                        a(href='https://www.youtube.com/channel/UCGweoAectHnrvkiQtghsTOg?sub_confirmation=1')  Hướng dẫn đăng kiểm tra điểm rèn luyện
                    li
                        i.fas.fa-user-graduate
                        a(href='https://www.youtube.com/channel/UCGweoAectHnrvkiQtghsTOg?sub_confirmation=1')  Hướng dẫn đăng ký môn học của trường mình
                    li
                        i.fas.fa-user-graduate
                        a(href='https://www.youtube.com/channel/UCGweoAectHnrvkiQtghsTOg?sub_confirmation=1')  Hướng dẫn khai báo thông tin sinh viên 
        
