extends base

block content 
    .finding-box
        form.input-box(method='POST')
                input(id='txt1-search' type='text' name='name' placeholder='Enter name')
                | 
                input(id='img-search' type='submit' value='Search')