doctype html
html
    head
        meta(charset='UTF-8')
        title= title
        link(rel='icon' href='img/favicon-32x32.png' type='image/gif' sizes='32x32')
        link(rel='stylesheet' href='css/style1.css')
    body
        .box
            h2 Login
            form(method='POST')
                .box-container
                    .inputbox
                        label(for='username')
                            b Username
                        input(type='text' id='username' placeholder='Enter Username' name='username' required)
                    .inputbox
                        label(for='psw')
                            b Password
                        input(type='password' id='password' placeholder='Enter Password' name='psw' required)
                
                    button.login-button(type='submit' value='Submit') login