doctype html
html
    head
        meta(charset='UTF-8')
        title=title
        link(rel='icon' href='img/favicon-32x32.png' type='image/gif' sizes='32x32')
        link(rel='stylesheet' href='css/style.css')
        script(src='https://kit.fontawesome.com/a076d05399.js')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')

    body
        .intro
            .container-fluid
                nav(class='navbar menu') 
                    a(class='navbar-brand' href='#')
                        img(src='img/uet-logo.png' width='48' height='48' alt='')
                        .slogan
                            b(class='text-brand') UET
                            p Creative Thinking for the Future
                    
        .error-message
            h1
                i.fas.fa-exclamation-triangle
                | #{message}
            h2 Please try again!

        .login
            h2(class='text-center' style='color: #3c8dbc') Login
            form(method='POST')
                .form-group
                    .inputbox
                        label(for='username')
                            b Username :
                        input(class='form-control' type='text' id='username' placeholder='Enter username' name='username' required)
                    .inputbox
                        label(for='password')
                            b Password :
                        input(class='form-control' type='password' id='password' placeholder='Enter password' name='password' required)
                    input(class='btn btn-primary btn-block' type='submit' value='Submit')