
extends base

block content 
    .finding-box
        form.input-box(method='POST')
                input(id='txt1-search' type='text' name='year' placeholder='Enter year')
                | 
                input(id='txt2-search' type='text' name='semester' placeholder='Enter semester')
                input(id='img-search' type='submit' value='Search')
        