
extends base

block content 
    div(class='dashboard m-3')
            .content-intro #{title}
            hr
            .content-container
                div(class='d-flex justify-content-end align-items-center')
                    form(class='input-box' method='POST')

                        input(type='text' id='txt1-search' class='form-input m-1' name='year' placeholder='Enter year')
                        input(type='text' id='txt2-search' class='form-input m-1' name='semester' placeholder='Enter semester')
                        input(class='btn btn-primary  m-1' id='img-search' type='submit' value='Search')