.menu {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.intro {
    background-color: #3c8dbc;

}

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    color: #fff;
    display: flex !important;
    align-items: center;
    background-color: #367fa9;
    width: 235px;
    padding: 10px 0 !important;
    margin: 0 !important;
}

.navbar-brand:hover {
    color: #fff;
}

.slogan {
    font-size: 0.8rem;
}

.slogan p {
    padding: 0;
    margin: 0;
}

.menu-brand {
    color: #fff;
    background-color: #367fa9;
    padding: 20px 0;
    width: 250px;
    text-align: center;
}

.logout {
    color: #fff;
    width: 150px;
    text-align: center;
}

.logout img {
    filter: invert(93%) sepia(93%) saturate(28%) hue-rotate(101deg) brightness(105%) contrast(109%);
}

.logout a {
    color: #fff;
}

.logout:hover{
    color: #fff !important;
}

.container-fluid {
    padding: 0 !important;
    margin: 0;
    /* width: 100vw !important; */
}

.row {
    /* width: 100vw; */
}

.content {
    height: 95vh;
}

.sidebar {
    background-color: #3c8dbc;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #1e282c;
    color: #b8c7ce;
    width: 250px;
}

.sidebar i {
    margin-right: 20px;
    width: 20px;
}

.sidebar ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 30px;
    background-color: #1e282c;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #1a2226;
}

.sidebar a {
    color: #b8c7ce;

}

.sidebar a:hover {
    color: #b8c7ce;
    text-decoration: none;
}

.content-intro {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #3c8dbc;
    font-weight: bolder;
   font-family: sans-serif;
}

.login {
    margin: 200px auto;
    width: 30%;
}

.login .inputbox {
    padding: 10px 0;
}

.dashboard {
    width: 80%;
}

.content-container {
    width: 100%;
}

.form-input {
    border-radius: 5px;
    padding: 7px 10px;
    border: 1px solid #ced4da;
    margin: 0 10px;
    width: 150px;
    color: #495057;
}

.finding-box {
    width: 300px;
}

.form-input:focus {
    border-color: #80bdff !important;
    outline: none;
}

table thead {
    background-color: #3c8dbc;
    color: #fff;
    text-align: center;
}

table tr {
    text-align: center;
}
legend{
    display: block;
    width: auto !important;
    /*background-color: grey;*/
    font-weight: bold;
    font-size: 1.2rem !important;
    color: white;
    padding: 5px 15px !important;
    margin-left: 20px !important;
}
fieldset{
    padding:15px !important;
    background-color:  #eeeeee;
    border: 1px solid black !important;
    border-radius: 3px;
}

